.home_landing {
    height: 75vh;
    width: 80vw;
    max-width: 100%;
    border-radius: 30px;
    background-color: red;
    margin: auto;
    background: url("../../../public/img/home-landing.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.home_landing-txt-1 {
    color: white;
    font-size: 16px;
}

.home_landing-txt-2 {
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.rent_car_controller {
    padding: 15px 30px;
    width: 900px;
    max-width: 100vw;
    background-color: #050B20;
    margin: -76px auto 0 auto;
    border-radius: 10px 10px 0 0;
}

.rent_car_controller ul {
    list-style: none;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, auto);
    color: white;
}

.rent_car_controller ul li span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    cursor: pointer;

}

.rent_car_controller ul li:not(:last-child) span {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    padding: 5px 20px;
}

.bxs-chevron-up {
    transition: 0.2s;
    transform: rotate(0deg);
}

.bxs-chevron-up.rotated {
    transform: rotate(180deg);
}

.search-btn {
    border: solid 1px;
    border-radius: 10px;
    margin: 0 0 0 10px;
    padding: 10px;
    transition: 0.2s;

    &:hover {
        background-color: #0146A6;
    }
}

.rent_car_property {
    position: relative;

}

.rent_car_list {
    position: absolute;
    background-color: white;
    color: black;
    left: 0;
    right: 10px;
    top: 150%;
    overflow: hidden;
    padding: 10px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    height: 0;
    padding: 0;
    transition: 0.3s;
    z-index: 1;

}

.rent_car_list span {
    transition: .2s;

    &:hover {
        color: #7686E6;
    }
}

.rent_car_list span:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.rent_car_list.active {
    transform: translateY(8%);
    opacity: 1;
    height: 80px;
    transition: 0.3s;
    padding: 5px;
}

.lifestyle-cars-list {
    padding: 50px 0;
}

.car-list-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0 15px 0;
}

.car-lists {
    display: flex;
    justify-content: space-around;
}

.lifestyle-car-img {
    background-color: rgba(232, 232, 232, 0.2);
    border-radius: 20px;
}

.lifestyle-car-img img {
    transition: 0.2s;

    &:hover {
        scale: 1.2;
    }
}

.lifestyle-car-name {
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.2s;
}

.lifestyle-car-name.hovered {
    opacity: 1;
    transform: translate(0);
}

.offers-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 100px 50px;
    background-color: #F9FBFC;
    overflow: hidden;
}

.offers-title {
    width: 50%;
}

.offers-title p {
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
}

.offers {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 50%;
    gap: 40px 100px;
}

.offer-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.offer-card-title {
    font-weight: 600;
    font-size: 20px;
}

.offer-card-txt {
    font-size: 15px;
    font-weight: 400;
}

@media screen and (max-width: 1180px) {
    .rent_car_controller {
        margin: 30px auto;
        border-radius: 10px;
        width: 80vw;
        max-width: 100vw;
    }

    .rent_car_list {
        top: 90%;
    }

    .rent_car_list.active {
        height: 100px;
    }

    .rent_car_controller ul {
        display: block;
    }

    .rent_car_controller ul li {
        border: none;
        border-bottom: 1px solid white;
    }

    .rent_car_controller ul li:not(:last-child) span {
        border: none;
        padding: 10px;
    }

    .rent_car_controller span {
        border: none;
        padding: 10px 17px 10px 0;
    }

    .search-btn:hover {
        background-color: transparent;
    }
}