.home_landing {
    height: 75vh;
    width: 80vw;
    max-width: 100%;
    border-radius: 30px;
    background-color: red;
    margin: auto;
    background: url("../../../public/img/home-landing.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.home_landing-txt-1 {
    color: white;
    font-size: 16px;
}

.home_landing-txt-2 {
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.rent_car_controller {
    padding: 15px 30px;
    width: 900px;
    max-width: 100vw;
    background-color: #050B20;
    margin: -76px auto 0 auto;
    border-radius: 10px 10px 0 0;
}

.rent_car_controller ul {
    list-style: none;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, auto);
    color: white;
}

.rent_car_controller ul li span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    cursor: pointer;

}

.rent_car_controller ul li:not(:last-child) span {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    padding: 5px 20px;
}

.bxs-chevron-up {
    transition: 0.2s;
    transform: rotate(0deg);
}

.bxs-chevron-up.rotated {
    transform: rotate(180deg);
}

.search-btn {
    border: solid 1px;
    border-radius: 10px;
    margin: 0 0 0 10px;
    padding: 10px;
    transition: 0.2s;

    &:hover {
        background-color: #0146A6;
    }
}

.rent_car_property {
    position: relative;

}

.rent_car_list {
    position: absolute;
    background-color: white;
    color: black;
    left: 0;
    right: 10px;
    top: 150%;
    overflow: hidden;
    padding: 10px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    height: 0;
    padding: 0;
    transition: 0.3s;
    z-index: 1;

}

.rent_car_list span {
    transition: .2s;

    &:hover {
        color: #7686E6;
    }
}

.rent_car_list span:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.rent_car_list.active {
    transform: translateY(8%);
    opacity: 1;
    height: 80px;
    transition: 0.3s;
    padding: 5px;
}

.lifestyle-cars-list {
    padding: 50px 0;
}

.car-list-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0 15px 0;
}

.car-lists {
    display: flex;
    justify-content: space-around;
}

.lifestyle-car-img {
    background-color: rgba(232, 232, 232, 0.2);
    border-radius: 20px;
}

.lifestyle-car-img img {
    transition: 0.2s;

    &:hover {
        scale: 1.2;
    }
}

.lifestyle-car-name {
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.2s;
}

.lifestyle-car-name.hovered {
    opacity: 1;
    transform: translate(0);
}

.offers-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 100px 50px;
    background-color: #F9FBFC;
    overflow: hidden;
}

.offers-title {
    width: 50%;
}

.offers-title p {
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
}

.offers {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 50%;
    gap: 40px 100px;
}

.offer-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.offer-card-title {
    font-weight: 600;
    font-size: 20px;
}

.offer-card-txt {
    font-size: 15px;
    font-weight: 400;
}

.vehicle-slider {
    padding: 50px 20px;
}

.vehicle-slider-track {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 20px;
}

.vehicle-card {
    border: solid 2px #dedede;
    display: flex;
    flex-direction: column;
    width: max-content;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.2s;
}

.vehicle-img-block {
    height: 20;
    width: 300;
    overflow: hidden;
}

.vehicle-img-block img {
    height: 100%;
    width: 100%;
    scale: 1;
    transition: 0.2s;

    &:hover {
        scale: 1.1;
    }
}

.car-stats {
    padding: 20px 25px;
}

.vehicle-title {
    font-size: 30px;
    letter-spacing: 3px;
    margin: 0 0 20px 0;
    font-weight: 600;
}

.vehicle-buttons {
    margin: 20px 0 0 0;
    display: flex;
    gap: 20px;
}

.vehicle-btn button {
    width: 65px;
    height: 35px;
    border: solid 1px black;
    border-radius: 30px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: black;
        color: white;
    }
}

.vehicle-name-block {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
}

.vehicle-title-block {
    font-size: 14px;
    line-height: 2;
}

.vehicle-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.vehicle-info span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    height: 1.5px;
    width: 100%;
    background-color: #E1E1E1;
    margin: 10px 0;
}

.vehicle-order {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vehicle-order span:first-child {
    font-weight: 600;
    font-size: 20px;
}

.vehicle-order span a {
    text-decoration: none;
    color: #405FF2;
    text-shadow: 0 0 1px #405FF2;
}

.cars-blog-block {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 50px;
    gap: 40px;
    overflow: hidden;
}

.car-blog {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 15px;
}

.car-blog-1 {
    background-color: #E9F2FF;
}

.car-blog-2 {
    background-color: #FFE9F3;
}

.car-blog-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
}

.car-blog-bottom {
    display: flex;
    justify-content: space-between;
}

.car-blog-btn button {
    border: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
}

.car-blog-1 button {
    background-color: #3F5FF1;
    &:hover {
        background-color: #4c6dff;
    }
}

.car-blog-2 button {
    background-color: #050B20;
    &:hover {
        background-color: #050b20c5;
    }
}

.car-banner-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}

.car-banner-img-side img{
    height: 100%;
}

.car-banner-txt-side-wrapper {
    background-color: #050B20;
    color: white;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-banner-txt-side {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 50px;
}

.car-banner-title {
    font-size: 40px;
    font-weight: 700;
}

.car-banner-txt {
    font-size: 16px;
    line-height: 1.6;
}

.car-banner-btn button {
    font-size: 16px;
    color: white;
    background-color: #405FF2;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: .2s;

    &:hover {
        background-color: #0052c5;
    }
}

@media screen and (max-width: 1180px) {
    .rent_car_controller {
        margin: 30px auto;
        border-radius: 10px;
        width: 80vw;
        max-width: 100vw;
    }

    .rent_car_list {
        top: 90%;
    }

    .rent_car_list.active {
        height: 100px;
    }

    .rent_car_controller ul {
        display: block;
    }

    .rent_car_controller ul li {
        border: none;
        border-bottom: 1px solid white;
    }

    .rent_car_controller ul li:not(:last-child) span {
        border: none;
        padding: 10px;
    }

    .rent_car_controller span {
        border: none;
        padding: 10px 17px 10px 0;
    }

    .search-btn:hover {
        background-color: transparent;
    }
}