.shop-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
}

.shop-page-title {
    font-size: 30px;
    font-weight: 600;
}

.shop-page-filter-block {
    /* border: solid 1px red;
    padding: 10px; */
    accent-color: black;
}

.shop-page-filter-block-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: solid 1px #cdcdcd;
    border-radius: 10px;
}

.shop-page-filter-product {
    display: grid;
    grid-template-columns: 24% 74%;
    gap: 2%;
}

.shop-categories-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shop-categories-list span {
    font-size: 18px;
    font-weight: 600;
}

.shop-categories-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.shop-categories-list ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.shop-categories-list ul li input {
    height: 20px;
    width: 20px;
}

.shop-filter-line {
    height: 1px;
    width: 100%;
    background-color: #cdcdcd;
}

.shop-price-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shop-price-title {
    font-size: 18px;
    font-weight: 600;
}

.shop-min-max-price-block {
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

.shop-min-price-block,
.shop-max-price-block {
    border: solid 1px #cdcdcd;
    padding: 25px 10px 5px 10px;
    position: relative;
    flex: 47%;
    border-radius: 10px;
    
}

.price-title{
    position: absolute;
    top: 2px;
}

.shop-price-range input {
    width: 100%;
}

/*  */

.shop-page-product-block {
    background-color: '';
}

.shop-page-product-block-wrapper {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop-page-product-top {
    display: flex;
    justify-content: space-between;
}

.shop-product-sort-block {
    display: flex;
    gap: 10px;
}

.sort-title {
    color: #686868;
}

.sort-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.shop-page-product-bottom {
    /* border: solid 2px black; */
}

.shop-page-product-bottom {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 40px;
    justify-content: space-between;
}

.shop-item {
    border: solid 1px #cdcdcd;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shop-item-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.shop-item-img img {
    transition: 0.2s;

    &:hover {
        transform: scale(1.15);
    }
}

.shop-item-stars {
    color: #405FF2;
    display: flex;
    gap: 5px;
    font-size: 14px;
}

.shop-item-desc {
    font-size: 17px;
}

.shop-item-price {
    font-size: 20px;
    font-weight: 700;
}

.but-btn {
    color: #405FF2;
    border: solid 1px #405FF2;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: #405FF2;
        color: white;
    }
}

.but-btn span {
    font-size: 25px;
}