* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #FFFFFF;
  /* overflow-x: hidden; */
}

.container {
  width: 1550px;
  max-width: 100%;
  margin: auto;
}

.main {
  padding: 50px 0;
}

.Header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: white;
  width: 100%;
  max-width: 100%;
  z-index: 1;
  box-shadow: 0px 5px 15px 1px rgba(192, 192, 192, 0.5);
}

.Header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  max-width: 100%;
}

.Header ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  text-shadow: 0 0 0.6px black;
}

.Header .sign-in {
  display: flex;
  gap: 10px;
  padding: 5px 15px;
  font-size: 17px;
}

.Header .sign-in .sign-in-btn {
  text-decoration: none;
  color: black;
  border: solid 1px black;
  padding: 3px 10px 5px 10px;
}

.Header .sign-in .sign-up-btn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 94, 255);
  border: none;
  padding: 3px 10px 5px 10px;
}

.expand-menu-block {
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: 6px;
  display: none;
}

.top-line {
  height: 3px;
  width: 30px;
  background-color: black;
}

.bottom-line {
  height: 3.1px;
  width: 30px;
  background-color: black;
}

.Aside-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  width: 0;
  transition: .5s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
}

.Aside-menu.active {
  width: 250px;
  padding: 20px;
}

.aside-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside-title {
    font-size: 20px;
}

.aside-exit-btn {
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
}

.Aside-menu hr {
    margin: 20px 0;
    border: solid 1px #e1e1e1;
    
}

.aside-menu-list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aside-menu-list ul li a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.2s;
    white-space: wrap;
}

.aside-menu-list ul li a.active {
    background-color: #E9F2FF;
    color: #405FF2;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: 1s ease-in;
}

.overlay.active {
  bottom: 0;
}

.footer-top {
    border-bottom: 2px solid #ececec;
}

.footer-lists {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    padding: 20px 50px 50px 50px;
}

.footer-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-list ul li:first-child {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-list ul li a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 14px;
    transition: 0.3s;

    &:hover {
        color: #405FF2;
    }
}

.footer-list ul li a::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #405FF2;
    bottom: -4px;
    left: 0;
    right: 100%;
    transition: 0.3s;
}

.footer-list ul li a:hover::after {
    right: 0;
}

.footer-list-5 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-list-5 ul li:last-child {
    line-height: 2;
}

.footer-contact-btn  {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
}

.social-media span {
    background-color: transparent;
    padding: 7px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: #efeeee;
    }
}

.footer-bottom {
    padding: 30px 50px;
    background-color: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}

.footer-copy-rights {
    font-size: 16px;
    transition: 0.2s;

    &:hover {
        color: rgb(100, 100, 100);
    }
}

.footer-terms-privacy {
    font-size: 16px;
    display: flex;
    gap: 20px;
}

.footer-terms-privacy a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1030px) {
  .Header ul {
    width: 450px;
    max-width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .Header ul,
  .Header .sign-in {
    display: none;
  }

  .expand-menu-block {
    display: flex;
  }
}

@media screen and (max-width: 600px) {  
  .Header ul {
    display: none;
  }

  .Header .sign-in {
    display: none;
  }

  .expand-menu-block {
    display: flex;
  }
}